@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<head>
    <link rel="stylesheet" href="~/frontend/css/buttonUser.css" />
</head>
<style>
    .user-avatar {
        width: 50px;
        height: 50px;
      
    }

</style>
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <a href="#" class="user-avatar">
                <img src="@(UserManager.GetUserAsync(User).Result?.avatar ?? "/frontend/img/anime/Avatar.jpg")"
                     alt="Avatar"
                     style="  border-radius: 50%;  object-fit: cover;"
              @*        style="width: 30px; height: 30px; border-radius: 50%;" *@>
            </a>
        </button>
        <div class="dropdown-menu">
            <span class="custom-span">@User.Identity?.Name!</span>
            <a class="custom-link dropdown-item" asp-area="" asp-controller="HopPhim" asp-action="Index" title="Manage">Phim yêu thích</a>
            <a class="custom-link dropdown-item" asp-area="" asp-controller="LichSu" asp-action="Index" title="Manage">Lịch Sử Xem</a>
            @if (User.IsInRole("Admin"))
            {
                <a class="custom-link dropdown-item" asp-area="Admin" asp-controller="PhimLes" asp-action="Index">Admin</a>
            }
            <a class="custom-link dropdown-item" asp-area="" asp-controller="User" asp-action="EditProfile" title="Manage">Hồ sơ</a>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="custom-link dropdown-item" type="submit">Đăng xuất</button>
            </form>
        </div>
    </div>

    
}
else
{
    <a style="font-size:15px;" asp-area="Identity" asp-page="/Account/Login" class="btn btn-danger ">Đăng nhập</a>

}
<script src="~/js/buttonUser.js"></script>

