@model WebsiteXemPhim.Models.QuocGia

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xoá</h1>

<h3>Bạn chắc chắn muốn xoá quốc gia này?</h3>
<div>
    <h4>Quốc Gia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên quốc gia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenQuocGia)
        </dd>
    </dl>
    
    <form asp-action="Delete" id="deleteForm" data-quocgia-name="@Model.TenQuocGia">
        <input type="hidden" asp-for="QuocGiaId" />
        <input type="button" value="Xoá" class="btn btn-danger" onclick="confirmDelete()" /> |
        <a class="btn btn-info" asp-action="Index">Trở về danh sách</a>
    </form>
</div>
<script>
    function confirmDelete() {
        var hasMovies = @Json.Serialize(Model.phimBos.Any() || Model.phimLes.Any());
        var tenQuocGia = document.getElementById("deleteForm").getAttribute("data-quocgia-name");
        if (hasMovies) {
            if (confirm("Quốc gia " + tenQuocGia + " có phim.Khi xoá sẽ xoá lun phim.Bạn có chắc chắn muốn xoá ? ")) {
                document.getElementById("deleteForm").submit();
            }
        } else {
            document.getElementById("deleteForm").submit();
        }
    }
</script>
