@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="confirmation-container">
    <div class="confirmation-header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <p class="confirmation-message">
        Bạn đã đặt lại mật khẩu thành công. Vui lòng <a asp-page="./Login" class="btn-link">Bấm vào đây để đây nhập</a>.
    </p>
</div>
